In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', 500)

In [2]:
df_cod_ventas = pd.read_csv("sumatoria_ventas.csv")

In [3]:
df_cod_ventas

      ult_sust_def    Total
0                9      0.0
1             1560   2307.0
2            14339   2222.0
3            23491   1805.0
4            59826  12486.0
...            ...      ...
3352        955933    535.0
3353        956029    299.0
3354        956031    382.0
3355        958821    316.0
3356        970304      0.0

[3357 rows x 2 columns]

In [4]:
segmentacion = pd.read_csv("SegmentacionModsCatVig.csv")

In [5]:
segmentacion["DIVISION"].unique()

array(['CALZADO', 'GENERALES', 'JOYERIA Y ACCESORIOS', 'HOME',
       'ELECTRONICA', 'ROPA', 'CUIDADO PERSONAL', 'JUGUETES'],
      dtype=object)

In [6]:
segmentacion_calzado = segmentacion[segmentacion["DIVISION"] == "CALZADO"]

In [7]:
segmentacion_calzado

,ULT_SUST_DEF,TALLA_INI_MIN,TALLA_FIN_MAX,MAR_CVE_N,MARCA,MODELO,COL_CVE_N,COLOR,CORRIDAS,DIV_CVE_N,DIVISION,SEC_CVE_N,SECCION,SBC_CVE_N,SUBCATEGORIA,CAT_CVE_N,CATEGORIA,FPLG_CVE_N,FAMILIA
0,10126,25.0,30.0,64,CONVERSE,9697,559,MNO,Y1,1,CALZADO,3,CABALLERO,66,CHOCLO,78,TENIS CASUAL URBANO,0.0,NaN
1,10126,22.0,24.5,64,CONVERSE,9697,559,MNO,RR,1,CALZADO,5,DAMA,66,CHOCLO,78,TENIS CASUAL URBANO,0.0,NaN
2,10124,22.0,24.5,64,CONVERSE,9622,559,MNO,RR,1,CALZADO,5,DAMA,42,BOTA,78,TENIS CASUAL URBANO,0.0,NaN
3,10124,25.0,30.0,64,CONVERSE,9622,559,MNO,Y1,1,CALZADO,3,CABALLERO,42,BOTA,78,TENIS CASUAL URBANO,0.0,NaN
4,10103,22.0,24.5,64,CONVERSE,7652,32,BCO,RR,1,CALZADO,5,DAMA,66,CHOCLO,78,TENIS CASUAL URBANO,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13671,872356,21.0,28.0,1042,MILAGROS,1547,23239,LATTE,U5,1,CALZADO,5,DAMA,244,SANDALIA,12,CASUAL,301.0,SAND PLAT BAJO PULSERA (301)
13672,872354,21.0,28.0,1042,MILAGROS,3124,2534,MARINO,U5,1,CALZADO,5,DAMA,244,SANDALIA,12,CASUAL,234.0,SAND PLAT ALTO BOTIN (234)
13673,872360,21.0,28.0,1042,MILAGROS,3265,876,TAN,U5,1,CALZADO,5,DAMA,244,SANDALIA,12,CASUAL,54.0,SAND PLAT C/TACON PULSERA (54)
13674,872358,21.0,28.0,1042,MILAGROS,1577,4970,NEGRO,U5,1,CALZADO,5,DAMA,244,SANDALIA,12,CASUAL,301.0,SAND PLAT BAJO PULSERA (301)
13675,872364,21.0,28.0,1042,MILAGROS,3183,4970,NEGRO,U5,1,CALZADO,5,DAMA,244,SANDALIA,12,CASUAL,70.0,SAND TACON MEDIO ANCHO BOTIN (70)

In [8]:
segmentacion_calzado["SECCION"].value_counts()

DAMA         3696
CABALLERO    1740
NIÑA          588
NIÑO          429
JUNIORS       229
TEENS          85
UNISEX         12
Name: SECCION, dtype: int64

In [9]:
union_datasets = segmentacion_calzado.join(df_cod_ventas.set_index('ult_sust_def'), on='ULT_SUST_DEF')

In [10]:
# eliminamos las columans que tienen nan en el total de ventas
union_datasets = union_datasets[pd.notna(union_datasets["Total"])]

In [11]:
union_datasets.shape

(2259, 20)

In [12]:
# verificamos la no repeticion de id
union_datasets["ULT_SUST_DEF"].value_counts()

157787    2
163839    2
169048    2
179017    2
158167    2
         ..
826004    1
131733    1
823961    1
821914    1
833031    1
Name: ULT_SUST_DEF, Length: 2254, dtype: int64

In [13]:
union_datasets.drop_duplicates(subset ="ULT_SUST_DEF", 
                     keep = "first", inplace = False)

,ULT_SUST_DEF,TALLA_INI_MIN,TALLA_FIN_MAX,MAR_CVE_N,MARCA,MODELO,COL_CVE_N,COLOR,CORRIDAS,DIV_CVE_N,DIVISION,SEC_CVE_N,SECCION,SBC_CVE_N,SUBCATEGORIA,CAT_CVE_N,CATEGORIA,FPLG_CVE_N,FAMILIA,Total
13,23491,25.0,30.5,1546,DOBLE L,2000,628,NGO,RY,1,CALZADO,3,CABALLERO,42,BOTA,81,VAQUERO,1749.0,VAQUERA BOTA BIKER (1749),1805.0
24,1560,25.0,32.0,230,MARCO DELLI,7011,628,NGO,RX,1,CALZADO,3,CABALLERO,42,BOTA,80,TRABAJO INDUSTRIAL,1740.0,TRAB INDU BN AGUJETA SIN SEGUR (1740),2307.0
26,59826,22.0,27.0,870,FLEXI,8302,4970,NEGRO,SI,1,CALZADO,5,DAMA,66,CHOCLO,17,CONFORT,750.0,FLEXI BASICO (750),12486.0
27,59828,22.0,27.0,870,FLEXI,5807,2179,BLANCO,SI,1,CALZADO,5,DAMA,66,CHOCLO,17,CONFORT,751.0,FLEXI SERVICIO (751),5261.0
33,63526,22.0,33.0,3248,NIABBAL´S,PIEL,624,NATURAL,"SI, ZZ",1,CALZADO,12,UNISEX,3,ACCESORIO DE CALZADO,1,ACCESORIO,0.0,NaN,7546.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13671,872356,21.0,28.0,1042,MILAGROS,1547,23239,LATTE,U5,1,CALZADO,5,DAMA,244,SANDALIA,12,CASUAL,301.0,SAND PLAT BAJO PULSERA (301),333.0
13672,872354,21.0,28.0,1042,MILAGROS,3124,2534,MARINO,U5,1,CALZADO,5,DAMA,244,SANDALIA,12,CASUAL,234.0,SAND PLAT ALTO BOTIN (234),172.0
13673,872360,21.0,28.0,1042,MILAGROS,3265,876,TAN,U5,1,CALZADO,5,DAMA,244,SANDALIA,12,CASUAL,54.0,SAND PLAT C/TACON PULSERA (54),337.0
13674,872358,21.0,28.0,1042,MILAGROS,1577,4970,NEGRO,U5,1,CALZADO,5,DAMA,244,SANDALIA,12,CASUAL,301.0,SAND PLAT BAJO PULSERA (301),816.0
13675,872364,21.0,28.0,1042,MILAGROS,3183,4970,NEGRO,U5,1,CALZADO,5,DAMA,244,SANDALIA,12,CASUAL,70.0,SAND TACON MEDIO ANCHO BOTIN (70),277.0

In [14]:
union_datasets.to_csv("dataset_ventas_segmentacion.csv", index=False)

In [15]:
prueba = pd.read_csv("dataset_ventas_segmentacion.csv")

In [16]:
prueba

,ULT_SUST_DEF,TALLA_INI_MIN,TALLA_FIN_MAX,MAR_CVE_N,MARCA,MODELO,COL_CVE_N,COLOR,CORRIDAS,DIV_CVE_N,DIVISION,SEC_CVE_N,SECCION,SBC_CVE_N,SUBCATEGORIA,CAT_CVE_N,CATEGORIA,FPLG_CVE_N,FAMILIA,Total
0,23491,25.0,30.5,1546,DOBLE L,2000,628,NGO,RY,1,CALZADO,3,CABALLERO,42,BOTA,81,VAQUERO,1749.0,VAQUERA BOTA BIKER (1749),1805.0
1,1560,25.0,32.0,230,MARCO DELLI,7011,628,NGO,RX,1,CALZADO,3,CABALLERO,42,BOTA,80,TRABAJO INDUSTRIAL,1740.0,TRAB INDU BN AGUJETA SIN SEGUR (1740),2307.0
2,59826,22.0,27.0,870,FLEXI,8302,4970,NEGRO,SI,1,CALZADO,5,DAMA,66,CHOCLO,17,CONFORT,750.0,FLEXI BASICO (750),12486.0
3,59828,22.0,27.0,870,FLEXI,5807,2179,BLANCO,SI,1,CALZADO,5,DAMA,66,CHOCLO,17,CONFORT,751.0,FLEXI SERVICIO (751),5261.0
4,63526,22.0,33.0,3248,NIABBAL´S,PIEL,624,NATURAL,"SI, ZZ",1,CALZADO,12,UNISEX,3,ACCESORIO DE CALZADO,1,ACCESORIO,0.0,NaN,7546.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2254,872356,21.0,28.0,1042,MILAGROS,1547,23239,LATTE,U5,1,CALZADO,5,DAMA,244,SANDALIA,12,CASUAL,301.0,SAND PLAT BAJO PULSERA (301),333.0
2255,872354,21.0,28.0,1042,MILAGROS,3124,2534,MARINO,U5,1,CALZADO,5,DAMA,244,SANDALIA,12,CASUAL,234.0,SAND PLAT ALTO BOTIN (234),172.0
2256,872360,21.0,28.0,1042,MILAGROS,3265,876,TAN,U5,1,CALZADO,5,DAMA,244,SANDALIA,12,CASUAL,54.0,SAND PLAT C/TACON PULSERA (54),337.0
2257,872358,21.0,28.0,1042,MILAGROS,1577,4970,NEGRO,U5,1,CALZADO,5,DAMA,244,SANDALIA,12,CASUAL,301.0,SAND PLAT BAJO PULSERA (301),816.0
2258,872364,21.0,28.0,1042,MILAGROS,3183,4970,NEGRO,U5,1,CALZADO,5,DAMA,244,SANDALIA,12,CASUAL,70.0,SAND TACON MEDIO ANCHO BOTIN (70),277.0