<a href="https://colab.research.google.com/github/jcjimenezb123/PFM_PronosticoDemanda/blob/master/polar.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!pip install polars

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting polars
  Downloading polars-0.16.16-cp37-abi3-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (16.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 16.6/16.6 MB 64.9 MB/s eta 0:00:00
Requirement already satisfied: typing_extensions>=4.0.1 in /usr/local/lib/python3.9/dist-packages (from polars) (4.5.0)
Installing collected packages: polars
Successfully installed polars-0.16.16

In [3]:
import polars as pl
df = pl.read_csv("Advertising.csv")
df

shape: (200, 5)
┌─────┬───────┬───────┬───────────┬───────┐
│     ┆ TV    ┆ Radio ┆ Newspaper ┆ Sales │
│ --- ┆ ---   ┆ ---   ┆ ---       ┆ ---   │
│ i64 ┆ f64   ┆ f64   ┆ f64       ┆ f64   │
╞═════╪═══════╪═══════╪═══════════╪═══════╡
│ 1   ┆ 230.1 ┆ 37.8  ┆ 69.2      ┆ 22.1  │
│ 2   ┆ 44.5  ┆ 39.3  ┆ 45.1      ┆ 10.4  │
│ 3   ┆ 17.2  ┆ 45.9  ┆ 69.3      ┆ 9.3   │
│ 4   ┆ 151.5 ┆ 41.3  ┆ 58.5      ┆ 18.5  │
│ …   ┆ …     ┆ …     ┆ …         ┆ …     │
│ 197 ┆ 94.2  ┆ 4.9   ┆ 8.1       ┆ 9.7   │
│ 198 ┆ 177.0 ┆ 9.3   ┆ 6.4       ┆ 12.8  │
│ 199 ┆ 283.6 ┆ 42.0  ┆ 66.2      ┆ 25.5  │
│ 200 ┆ 232.1 ┆ 8.6   ┆ 8.7       ┆ 13.4  │
└─────┴───────┴───────┴───────────┴───────┘

In [4]:
df.columns

['', 'TV', 'Radio', 'Newspaper', 'Sales']

In [5]:
# Select 1 column
df.select(pl.col('TV'))

shape: (200, 1)
┌───────┐
│ TV    │
│ ---   │
│ f64   │
╞═══════╡
│ 230.1 │
│ 44.5  │
│ 17.2  │
│ 151.5 │
│ …     │
│ 94.2  │
│ 177.0 │
│ 283.6 │
│ 232.1 │
└───────┘

In [6]:
# Select 2+ columns
df.select(pl.col(['TV', 'Radio']))

shape: (200, 2)
┌───────┬───────┐
│ TV    ┆ Radio │
│ ---   ┆ ---   │
│ f64   ┆ f64   │
╞═══════╪═══════╡
│ 230.1 ┆ 37.8  │
│ 44.5  ┆ 39.3  │
│ 17.2  ┆ 45.9  │
│ 151.5 ┆ 41.3  │
│ …     ┆ …     │
│ 94.2  ┆ 4.9   │
│ 177.0 ┆ 9.3   │
│ 283.6 ┆ 42.0  │
│ 232.1 ┆ 8.6   │
└───────┴───────┘

In [7]:
# Select all columns
df.select(pl.col('*'))

shape: (200, 5)
┌─────┬───────┬───────┬───────────┬───────┐
│     ┆ TV    ┆ Radio ┆ Newspaper ┆ Sales │
│ --- ┆ ---   ┆ ---   ┆ ---       ┆ ---   │
│ i64 ┆ f64   ┆ f64   ┆ f64       ┆ f64   │
╞═════╪═══════╪═══════╪═══════════╪═══════╡
│ 1   ┆ 230.1 ┆ 37.8  ┆ 69.2      ┆ 22.1  │
│ 2   ┆ 44.5  ┆ 39.3  ┆ 45.1      ┆ 10.4  │
│ 3   ┆ 17.2  ┆ 45.9  ┆ 69.3      ┆ 9.3   │
│ 4   ┆ 151.5 ┆ 41.3  ┆ 58.5      ┆ 18.5  │
│ …   ┆ …     ┆ …     ┆ …         ┆ …     │
│ 197 ┆ 94.2  ┆ 4.9   ┆ 8.1       ┆ 9.7   │
│ 198 ┆ 177.0 ┆ 9.3   ┆ 6.4       ┆ 12.8  │
│ 199 ┆ 283.6 ┆ 42.0  ┆ 66.2      ┆ 25.5  │
│ 200 ┆ 232.1 ┆ 8.6   ┆ 8.7       ┆ 13.4  │
└─────┴───────┴───────┴───────────┴───────┘

In [9]:
# polars: create "sum" column
df.with_columns(
    (pl.col('TV') + pl.col('Radio')).alias("sum")
)

# pandas: df['sum'] = df['math score'] + df['reading score']

shape: (200, 6)
┌─────┬───────┬───────┬───────────┬───────┬───────┐
│     ┆ TV    ┆ Radio ┆ Newspaper ┆ Sales ┆ sum   │
│ --- ┆ ---   ┆ ---   ┆ ---       ┆ ---   ┆ ---   │
│ i64 ┆ f64   ┆ f64   ┆ f64       ┆ f64   ┆ f64   │
╞═════╪═══════╪═══════╪═══════════╪═══════╪═══════╡
│ 1   ┆ 230.1 ┆ 37.8  ┆ 69.2      ┆ 22.1  ┆ 267.9 │
│ 2   ┆ 44.5  ┆ 39.3  ┆ 45.1      ┆ 10.4  ┆ 83.8  │
│ 3   ┆ 17.2  ┆ 45.9  ┆ 69.3      ┆ 9.3   ┆ 63.1  │
│ 4   ┆ 151.5 ┆ 41.3  ┆ 58.5      ┆ 18.5  ┆ 192.8 │
│ …   ┆ …     ┆ …     ┆ …         ┆ …     ┆ …     │
│ 197 ┆ 94.2  ┆ 4.9   ┆ 8.1       ┆ 9.7   ┆ 99.1  │
│ 198 ┆ 177.0 ┆ 9.3   ┆ 6.4       ┆ 12.8  ┆ 186.3 │
│ 199 ┆ 283.6 ┆ 42.0  ┆ 66.2      ┆ 25.5  ┆ 325.6 │
│ 200 ┆ 232.1 ┆ 8.6   ┆ 8.7       ┆ 13.4  ┆ 240.7 │
└─────┴───────┴───────┴───────────┴───────┴───────┘

In [18]:
# polars: create "average" column
df.with_columns(
    pl.col(['TV', 'Radio', 'Newspaper']).mean().alias('col1')
)

# pandas: df['average'] = df[['math score', 'reading score', 'writing score']].mean(axis=1)

ComputeError: ignored

In [19]:
# polars: simple filtering
df.filter(pl.col('TV')>200)

# pandas: df[df['TV'] > 200]

shape: (67, 5)
┌─────┬───────┬───────┬───────────┬───────┐
│     ┆ TV    ┆ Radio ┆ Newspaper ┆ Sales │
│ --- ┆ ---   ┆ ---   ┆ ---       ┆ ---   │
│ i64 ┆ f64   ┆ f64   ┆ f64       ┆ f64   │
╞═════╪═══════╪═══════╪═══════════╪═══════╡
│ 1   ┆ 230.1 ┆ 37.8  ┆ 69.2      ┆ 22.1  │
│ 12  ┆ 214.7 ┆ 24.0  ┆ 4.0       ┆ 17.4  │
│ 15  ┆ 204.1 ┆ 32.9  ┆ 46.0      ┆ 19.0  │
│ 18  ┆ 281.4 ┆ 39.6  ┆ 55.8      ┆ 24.4  │
│ …   ┆ …     ┆ …     ┆ …         ┆ …     │
│ 186 ┆ 205.0 ┆ 45.1  ┆ 19.6      ┆ 22.6  │
│ 189 ┆ 286.0 ┆ 13.9  ┆ 3.7       ┆ 15.9  │
│ 199 ┆ 283.6 ┆ 42.0  ┆ 66.2      ┆ 25.5  │
│ 200 ┆ 232.1 ┆ 8.6   ┆ 8.7       ┆ 13.4  │
└─────┴───────┴───────┴───────────┴───────┘