<a href="https://colab.research.google.com/github/jcjimenezb123/PFM_PronosticoDemanda/blob/master/RecontruccionVta.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [24]:
#se carga el excel con los datos de existencia y venta por dia
df=pd.read_excel('Book1.xlsx',sheet_name='Datos', parse_dates=['fecha'],engine="openpyxl")
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   fecha       31 non-null     datetime64[ns]
 1   existencia  31 non-null     int64
 2   venta       31 non-null     int64
dtypes: datetime64[ns](1), int64(2)
memory usage: 872.0 bytes

In [25]:
df.head()

       fecha  existencia  venta
0 2022-01-01           9      2
1 2022-01-02           0      0
2 2022-01-03           2      0
3 2022-01-04           1      0
4 2022-01-05           5      0

In [26]:
#Se cuentan los negados
df[df['existencia']<=0].count()

fecha         2
existencia    2
venta         2
dtype: int64

In [38]:
#los negados se ponen a null para ser estimados
df['venta']=df.apply(lambda x: np.NAN if x['existencia'] == 0 else x['venta'],axis=1)
df.head(10)

        fecha  existencia  venta dia_semana
6  2022-01-07           4    4.0     Friday
13 2022-01-14           5    2.0     Friday
20 2022-01-21           2    3.0     Friday
27 2022-01-28           1    1.0     Friday
2  2022-01-03           2    0.0     Monday
9  2022-01-10           5    0.0     Monday
16 2022-01-17           3    1.0     Monday
23 2022-01-24           2    0.0     Monday
30 2022-01-31           1    2.0     Monday
0  2022-01-01           9    2.0   Saturday

In [29]:
#se obtiene el dia de la semana
df['dia_semana'] = df['fecha'].dt.day_name()
df.head()

       fecha  existencia  venta dia_semana
0 2022-01-01           9    2.0   Saturday
1 2022-01-02           0    NaN     Sunday
2 2022-01-03           2    0.0     Monday
3 2022-01-04           1    0.0    Tuesday
4 2022-01-05           5    0.0  Wednesday

In [39]:
#se odenan por dia se la semana para ser interpolados
df.sort_values(by=['dia_semana','fecha'],inplace=True)
df

        fecha  existencia  venta dia_semana
6  2022-01-07           4    4.0     Friday
13 2022-01-14           5    2.0     Friday
20 2022-01-21           2    3.0     Friday
27 2022-01-28           1    1.0     Friday
2  2022-01-03           2    0.0     Monday
9  2022-01-10           5    0.0     Monday
16 2022-01-17           3    1.0     Monday
23 2022-01-24           2    0.0     Monday
30 2022-01-31           1    2.0     Monday
0  2022-01-01           9    2.0   Saturday
7  2022-01-08           0    NaN   Saturday
14 2022-01-15           3    2.0   Saturday
21 2022-01-22           1    1.0   Saturday
28 2022-01-29           2    1.0   Saturday
1  2022-01-02           0    NaN     Sunday
8  2022-01-09           5    0.0     Sunday
15 2022-01-16           5    4.0     Sunday
22 2022-01-23           2    3.0     Sunday
29 2022-01-30           1    4.0     Sunday
5  2022-01-06           1    0.0   Thursday
12 2022-01-13           1    3.0   Thursday
19 2022-01-20           1    2.0   Thursday
26 2022-01-27           3    3.0   Thursday
3  2022-01-04           1    0.0    Tuesday
10 2022-01-11           2    2.0    Tuesday
17 2022-01-18           2    1.0    Tuesday
24 2022-01-25           1    3.0    Tuesday
4  2022-01-05           5    0.0  Wednesday
11 2022-01-12           3    4.0  Wednesday
18 2022-01-19           4    0.0  Wednesday
25 2022-01-26           1    0.0  Wednesday

In [40]:
df.interpolate(method='ffill', limit_direction='forward',inplace=True)
df

        fecha  existencia  venta dia_semana
6  2022-01-07           4    4.0     Friday
13 2022-01-14           5    2.0     Friday
20 2022-01-21           2    3.0     Friday
27 2022-01-28           1    1.0     Friday
2  2022-01-03           2    0.0     Monday
9  2022-01-10           5    0.0     Monday
16 2022-01-17           3    1.0     Monday
23 2022-01-24           2    0.0     Monday
30 2022-01-31           1    2.0     Monday
0  2022-01-01           9    2.0   Saturday
7  2022-01-08           0    2.0   Saturday
14 2022-01-15           3    2.0   Saturday
21 2022-01-22           1    1.0   Saturday
28 2022-01-29           2    1.0   Saturday
1  2022-01-02           0    1.0     Sunday
8  2022-01-09           5    0.0     Sunday
15 2022-01-16           5    4.0     Sunday
22 2022-01-23           2    3.0     Sunday
29 2022-01-30           1    4.0     Sunday
5  2022-01-06           1    0.0   Thursday
12 2022-01-13           1    3.0   Thursday
19 2022-01-20           1    2.0   Thursday
26 2022-01-27           3    3.0   Thursday
3  2022-01-04           1    0.0    Tuesday
10 2022-01-11           2    2.0    Tuesday
17 2022-01-18           2    1.0    Tuesday
24 2022-01-25           1    3.0    Tuesday
4  2022-01-05           5    0.0  Wednesday
11 2022-01-12           3    4.0  Wednesday
18 2022-01-19           4    0.0  Wednesday
25 2022-01-26           1    0.0  Wednesday

In [41]:
df.sort_values(by=['fecha'],inplace=True)
df

        fecha  existencia  venta dia_semana
0  2022-01-01           9    2.0   Saturday
1  2022-01-02           0    1.0     Sunday
2  2022-01-03           2    0.0     Monday
3  2022-01-04           1    0.0    Tuesday
4  2022-01-05           5    0.0  Wednesday
5  2022-01-06           1    0.0   Thursday
6  2022-01-07           4    4.0     Friday
7  2022-01-08           0    2.0   Saturday
8  2022-01-09           5    0.0     Sunday
9  2022-01-10           5    0.0     Monday
10 2022-01-11           2    2.0    Tuesday
11 2022-01-12           3    4.0  Wednesday
12 2022-01-13           1    3.0   Thursday
13 2022-01-14           5    2.0     Friday
14 2022-01-15           3    2.0   Saturday
15 2022-01-16           5    4.0     Sunday
16 2022-01-17           3    1.0     Monday
17 2022-01-18           2    1.0    Tuesday
18 2022-01-19           4    0.0  Wednesday
19 2022-01-20           1    2.0   Thursday
20 2022-01-21           2    3.0     Friday
21 2022-01-22           1    1.0   Saturday
22 2022-01-23           2    3.0     Sunday
23 2022-01-24           2    0.0     Monday
24 2022-01-25           1    3.0    Tuesday
25 2022-01-26           1    0.0  Wednesday
26 2022-01-27           3    3.0   Thursday
27 2022-01-28           1    1.0     Friday
28 2022-01-29           2    1.0   Saturday
29 2022-01-30           1    4.0     Sunday
30 2022-01-31           1    2.0     Monday

In [42]:
!pip install xlwt
!pip install openpyxl

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: xlwt in /usr/local/lib/python3.7/dist-packages (1.3.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: openpyxl in /usr/local/lib/python3.7/dist-packages (3.0.10)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.7/dist-packages (from openpyxl) (1.1.0)

In [43]:
import openpyxl